body{
    text-align: center;
    background-color: rgb(242, 194, 194);
}
h2{
    color: #000000;
}
form{
    background-color: aliceblue;
    padding: 30px;
    margin: 50px auto;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgb(102, 5, 86);
}
input{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid rgb(173, 61, 185);
    border-radius: 8px;
}
button{
    padding: 10px;
    margin-top: 10px;
    background-color: #ddabdf;
    color: rgb(29, 24, 28);
    border-radius: 8px;
     box-shadow: 0 4px 10px rgb(154, 32, 130);
     cursor: pointer;
}

button:hover {
    background-color: #724174;
}